
<style>
    input[type="text"]:disabled {
  background: #D3D3D3;
}
  .j-wrapper-640 {
    max-width: 1050px !important;
}
.j-pro .j-input textarea {
    height: 52px;
    overflow: auto;
    min-height: 52px;
    resize: vertical;
}
</style>
<div class="row">

   
    <div class="col-sm-12">

        <div class="card">
            <div class="card-header">
                <h5>Add Fuel</h5>
                <div class="card-header-right">
                    <i class="icofont icofont-rounded-down"></i>
                    <i class="icofont icofont-refresh"></i>
                    <i class="icofont icofont-close-circled"></i>
                </div>
            </div>
            <div class="card-block">
               
                <div class="j-wrapper j-wrapper-640">
                   
                    <form  method="post" class="j-pro" id="frmTruckFuelInfo" autocomplete="off" enctype="multipart/form-data" novalidate>
                        @Html.AntiForgeryToken()
                        <div class="j-content">
                            <div class="j-row">
                                <div class="j-span4 j-unit">
                                    <label class="j-label">Fuel Type</label>
                                    <label class="j-input j-select">
                                        <select  id="ddlFuelType" required>
                                            <option value="" selected>-- Select --</option>
                                            <option value="1" >Diesel</option>
                                            <option value="2" >Petrol</option>
                                        </select>
                                        <i></i>
                                    </label> 
                                </div>
                                <div class="j-span4 j-unit">
                                    <label class="j-label">Petrol Pump</label>
                                    <label class="j-input j-select">
                                        <select  id="ddlPetrolPump" required>
                                            <option value="" selected>-- Select --</option>
                                           
                                        </select>
                                        <i></i>
                                    </label> 
                                </div>
                                <div class="j-span4 j-unit">
                                    <label class="j-label">Truck</label>
                                    <label class="j-input j-select">
                                        <select   id="ddlTruck" required>
                                            <option value="" selected>-- Select --</option>
                                        </select>
                                        <i></i>
                                    </label>
                                </div>                            

                                @*<div class="j-span4 j-unit">
                                    <label class="j-label">Quantity</label>
                                    <div class="j-input">
                                        <label class="j-icon-right" for="Quantity">
                                            <i class="icofont icofont-cart-alt"></i>
                                        </label>
                                        <input type="text" onkeypress="return isNumberKey(event,this)" id="Quantity" required>
                                        <span class="j-tooltip j-tooltip-right-top">Quantity in litre</span>
                                        <input type="hidden" id="hdnAvailableStock" value="0" />                                        
                                    </div>
                                </div>
                                 <div class="j-span4 j-unit">
                                    <label class="j-label">Rate</label>
                                    <div class="j-input">
                                        <label class="j-icon-right" for="Rate">
                                            <i class="icofont icofont-cur-rupee-true"></i>
                                        </label>
                                        <input type="text" id="Rate" onkeypress="return isNumberKey(event,this)" required>
                                        <span class="j-tooltip j-tooltip-right-top">Rate per litre</span>
                                    </div>
                                </div>*@
                              <div class="j-span4 j-unit">
                                    <label class="j-label">Total Amount</label>
                                    <div class="j-input">
                                        <label class="j-icon-right" for="TotalAmount">
                                            <i class="icofont icofont-cur-rupee-true"></i>
                                        </label>
                                        <input type="text" id="TotalAmount" onkeypress="return isNumberKey(event,this)" required>
                                        <span class="j-tooltip j-tooltip-right-top">Total Amount</span>
                                    </div>
                                </div>
                                  <div class="j-span4 j-unit">
                                    <label class="j-label">Current Reading</label>
                                    <div class="j-input">
                                        <label class="j-icon-right" for="SellAmount">
                                            <i class="icofont icofont-architecture-alt"></i>
                                        </label>
                                        <input type="text" id="CurrentReading" onkeypress="return isNumberKey(event,this)" >
                                        <span class="j-tooltip j-tooltip-right-top">Current Reading</span>
                                    </div>
                                </div>
                                <div class="j-span8 j-unit">
                                    <label class="j-label">Comments</label>
                                    <div class="j-input">
                                        <textarea spellcheck="false" rows="4" id="Comments"></textarea>
                                        <span class="j-tooltip j-tooltip-right-top">Enter Comments</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="j-footer">
                          
                            <a asp-area="Configuration" asp-controller="Truck" asp-action="GetFuels" class="btn btn-primary">Go To List</a>
                            <button type="button" class="btn btn-primary" id="btnSave">Save</button>
                            <button type="reset" id="btnReset" class="btn btn-default m-r-20">Reset</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
@section scripts{
    <script src=@Url.Content("~/UserScripts/Configuration/Truck.js")></script>
       
}